* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    font-size: 20px;
    text-align: center;
}

#array {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    height: 413px;
    width: 320px;
    margin: 0 auto; 
    position: relative;
    margin-top: 50px;
}

.block {
    width: 28px;
    background-color: #FC7300;
    position: absolute;
    bottom: 0px;
    transition: 0.2s all ease;
}

.block_id {
    position: absolute;
    color: black;
    margin-top: -20px;
    width: 100%;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

#generate {
    background-color: #FC7300;
}